@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
    color: white;
    font-family: 'Oxygen', 'Arial', sans-serif;
    margin: 0;
    min-height: 100svh;
    overflow: hidden;
    display: flex;

    & > div {
        flex: 1 1 0;
        padding: 1rem;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    & :is(input, button) {
        color: inherit;
        font-family: inherit;
    }
}

input,
button {
    background-color: transparent;
    border: none;
}

form {
    align-self: flex-start;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.4rem;
}

#today {
    flex: 2 1 0;
    justify-content: space-between;

    & input {
        border: 3px solid white;
        border-radius: 1.2em;
        padding: 0.4rem 0.8rem;
        font-size: 1.2rem;

        &::placeholder {
            color: white;
            opacity: 1;
        }

        &:focus:not(:focus-visible) {
            outline: none;
        }
    }
}

.seven-day {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 2rem;

    & > * {
        margin: 0;
    }

    & > .average-temp {
        font-size: 2.3rem;
        font-weight: 600;
    }
}

[data-weather='sunny'] {
    background-image: url('../images/sunny.webp');
}

[data-weather='rain'] {
    background-image: url('../images/rain.webp');
}

[data-weather='snow'] {
    background-image: url('../images/snow.webp');
}

[data-weather='cloudy'] {
    background-image: url('../images/cloudy.webp');
}

[data-weather='storm'] {
    background-image: url('../images/storm.webp');
}
