@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
    color: white;
    font-family: 'Oxygen', 'Arial', sans-serif;
    margin: 0;
    min-height: 100svh;
    min-width: 100vw;
    overflow: hidden;
    display: flex;

    & > div {
        background-size: cover;
        background-attachment: fixed;
        padding: 1rem;
    }

    & :is(input, button) {
        color: inherit;
        font-family: inherit;
    }
}

input,
button {
    background-color: transparent;
    border: none;
}

form {
    align-self: flex-start;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.4rem;
}

#today {
    flex: 2 1 0;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.5rem;

    & input {
        border: 3px solid white;
        border-radius: 1.2em;
        padding: 0.4rem 0.8rem;
        font-size: 1.2rem;

        &::placeholder {
            color: white;
            opacity: 1;
        }

        &:focus:not(:focus-visible) {
            outline: none;
        }
    }
}

#text-details > *:not(:first-child) {
    font-weight: 400;
    margin-block: 0.5rem;
}

.week {
    /* for initial load transition */
    width: 12.5%;

    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    white-space: nowrap;

    & > * {
        margin: 0;
    }

    & > .average-temp {
        font-size: 2.3rem;
        font-weight: 600;
    }

    & > :last-child {
        margin-bottom: 1rem;
    }
}

[data-weather='sunny'] {
    background-image: url('../images/sunny.webp');
}

[data-weather='rain'] {
    background-image: url('../images/rain.webp');
}

[data-weather='snow'] {
    background-image: url('../images/snow.webp');
}

[data-weather='cloudy'] {
    background-image: url('../images/cloudy.webp');
}

[data-weather='overcast'] {
    background-image: url('../images/overcast.webp');
}

[data-weather='storm'] {
    background-image: url('../images/storm.webp');
}
